.form {
  display: grid;
  gap: 24px;
  align-items: center;
  max-width: 480px;
  width: 100%;
  margin: 200px auto 0;
  text-align: center;
}

.footer {
  text-align: center;
}

.paragraph {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--interface-accent);
  text-decoration: none;
}

:global .input_size_default {
  width: 480px;
}
