.tabs {
  display: flex;
}
.ingredients__list {
  height: 716px;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients__list::-webkit-scrollbar-track {
  margin: 40px 0;
}
.ingredients__item {
  padding: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 272px);
  row-gap: 32px;
  column-gap: 24px;
  box-sizing: border-box;
  list-style: none;
}
.card {
  display: grid;
  grid-template-rows: 120px 24px auto;
  gap: 4px;
  height: 208px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.price {
  display: flex;
  justify-content: center;
}
.image {
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
  object-position: center;
}
