.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 272px);
  row-gap: 32px;
  column-gap: 24px;
  box-sizing: border-box;
  list-style: none;
}
.card {
  position: relative;
  display: grid;
  grid-template-rows: 120px 24px auto;
  gap: 4px;
  height: 208px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.price {
  display: flex;
  justify-content: center;
}
.image {
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
  object-position: center;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--interface-accent);
}
