.orders {
  display: grid;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 36px 0 0 48px;
  height: 80vh;
  overflow: scroll;
}
.order {
  width: 856px;
  background: var(--interface-modal-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.price {
  display: flex;
}
